# START CRON JOB
#* * * * * python /app/app.py > /proc/1/fd/1 2>/proc/1/fd/2
* * * * * /usr/local/bin/python /app/app.py >> /tmp/log_python.txt 2>>/tmp/log_python_err.txt
#* * * * * /usr/local/bin/python /app/app.py > /proc/1/fd/1 2>/proc/1/fd/2
# END CRON JOB
